*.pyc
.vscode
output
build
data
*.ply
**/PKG-INFO
# submodules
**__pycache__**
*.png
*.out
eval*/
exp*/
*.npz
**/tmp
*.egg-info
*.pyd
**/ckpt
debug*/
*.json
logs*
*/checkpoint
back
*.mp4
!assets/teaser.mp4
pano_light/checkpoints/**
!pano_light/checkpoints/
!pano_light/checkpoints/.gitkeep
!pano_light/checkpoints/*/
