tqdm==4.67.1
kornia==0.6.12
plyfile==1.1.2
typeguard==3.0.2
jaxtyping==0.2.0
e3nn==0.5.6
matplotlib==3.10.3
imageio==2.37.0
imageio-ffmpeg==0.6.0
roma==1.5.3
fpsample==0.3.3
pyvista==0.45.2
OpenEXR==3.3.4
Imath==0.0.2
mediapy==1.2.4
tensorboard==2.18.0
diffusers==0.30.0
transformers==4.36.1
scipy
trimesh
opencv-python
omegaconf
accelerate
